name: scan with KICS and upload SARIF

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  kics-job:
    runs-on: ubuntu-latest
    name: kics-action
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Run KICS Scan
        uses: checkmarx/kics-action@v1.2
        with:
          path: './'
          ignore_on_exit: results
          output_path: './'
          output_formats: 'json,html'
      - name: Show results
        run: |
          cat results.json
